<footer class="site-footer">

    <section>

        <div>
            <address><a href="https://www.google.com/maps/place/320+Congress+St,+Boston,+MA+02210/">320 Congress St., First Floor<br>Boston, MA 02210-1238</a></address>
        </div>

        <div>
            <p>
                <a href="mailto:hello@cantina.co">hello@cantina.co</a><br>
                <a href="tel:18007752714">+1 (800) 775-2714</a>
            </p>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/pages/Cantina/128999029114" class="fa fa-facebook"></a>
            <a href="https://twitter.com/cantinac" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/company/cantina" class="fa fa-linkedin"></a>
            <a href="https://github.com/cantinac" class="fa fa-github"></a>
        </div>

        <div>
            <p>All Rights Reserved &copy; 2014 Cantina</p>
        </div>

    </section>

</footer>
