<header class="site-header locked">

    <nav>
        <a href="/">
            <svg viewBox="0 0 150 50" class="logo">
                <use xlink:href="/images/logo.svg#color-dark"></use>
            </svg>
        </a>
        <ul>
            <li><a href="/services/">Services</a></li>
            <li><a href="/work/">Work</a></li>
            <li><a href="/team/">Team</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/events/">Events</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
        <a href="#nav" class="toggle-nav">☰</a>
    </nav>

</header>
