.wrapper {

    min-height: calc(100% - 80px - 100px);

    .wrapper-inner {

        margin: 0 auto;
        max-width: $wrapper-inner;

    }

}

.hero {

    min-height: 500px;
    padding-top: $header-height;

    h2 {
        padding: 1em .25em;
        font-size: 3em;
        line-height: 1.3em;
        font-weight: 100;
        color: #fff;
    }

}

.content {

    position: relative;

    .promo-section {

        position: relative;
        padding: 2em;
        text-align: center;
        background-color: #fff;

        &.rotated {

            margin: -2em 0;
            padding: 0;
            -webkit-transform: matrix(1, 0.034, 0, 1, 0, 0);

            .inner {
                padding: 2em 2em 4em 2em;
                -webkit-transform: matrix(1, -0.034, 0, 1, 0, 0);
            }

        }

        &.dark {

            color: #fff;
            background-color: #222;
            -webkit-font-smoothing: antialiased;

        }

        h2, p {
            margin: 1em 0;
        }

        h2 {
            font-size: 1.5em;
            line-height: 1em;
            font-weight: normal;
        }

        p {
            font-size: 1.2em;
            line-height: 1.3em;
        }

    }

    @media screen and (min-width: 960px) {

        font-size: 1.2em;

    }

}
