---
# Index CSS (DO NOT REMOVE THIS LINE)
---

.content {

    .customers {

        a {
            display: inline-block;
            margin: .34em;
            text-decoration: none;
        }

    }

}
