---
# Index CSS (DO NOT REMOVE THIS LINE)
---

@import "variables";

.hero {

    height: calc(100vh - 200px);
    min-height: 500px;
    padding-top: $header-height;

    h2 {
        padding: 1em .25em;
        font-size: 3em;
        line-height: 1.1em;
        font-weight: 100;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }

}

.content {

    .customers {

        a {

            display: block;
            text-decoration: none;

            img {
                width: 100%;
            }

        }

        @media screen and (min-width: 600px) {

            display: -webkit-box;
            -webkit-flex-flow: row wrap;

            a {

                -webkit-box-flex: 3;

                img {
                    display: inline-block;
                    padding: .1em .2em;
                    width: 100%;
                }

                /* Row #1 */

                &.work-byte-light,
                &.work-newport,
                &.work-vista {
                    width: 33.3%
                }

                /* Row #2 */

                &.work-liberty2 {
                    width: 43%;
                }

                &.work-parents {
                    width: 58%;
                }

            }

        }

    }

    .latest {

        @media screen and (min-width: $wrapper-inner) {

            a {
                display: table-cell;
                width: 25%;
                .module-content {
                    min-height: 400px;
                }
            }

        }

    }

}
